extends ../layout

block content
    div(ng-app="AcademicsModule")
        //app-for-users(user-photo="#{user.user_photo}")
        app-for-users
            h3(class="center") console admin
            div(class="container")
                table
                    tr
                        td
                            div
                            a(href="#categories") categories
                            br
                            a(href="#sub_categories") sub_categories
                            br
                            a(href="#languajes") languajes
                        td
                            div(ng-view)
            
    script(src="/javascripts/angular/routes/admin.js")
    script(src="/javascripts/angular/controllers/admin/CategoryController.js")
    script(src="/javascripts/angular/controllers/admin/SubCategoryController.js")
    script(src="/javascripts/angular/controllers/admin/LanguajeController.js")
