extends ../layout

block content
	h2 archivo index
	div(ng-app="AcademicsModule", ng-controller="ProfileController")
		a(href="#create/") Create
		div(ng-view)

	script(src="/javascripts/angular/routes/profiles.js")
	script(src="/javascripts/angular/controllers/ProfileController.js")