extends ../layout

block content
	div(ng-app="AcademicsModule", ng-controller="ProfileController")
		app-for-users

			div(class="container")
				.card
					a(href="#create/", class="btn right") Create
					h3 Perfiles
					div(ng-view)

	script(src="/javascripts/angular/routes/profiles.js")
	script(src="/javascripts/angular/controllers/ProfileController.js")