div(ng-init="getProfiles()")
	table(class="bordered")
		tr
			th Nombre
			th Tipo
			th 
		tr(ng-repeat="profile in profiles")
			td {{ profile.profile_name }}
			td {{ profile.profile_type }}
			td
				a(href="#update/{{ profile.profile_id }}", class="btn right blue") Actualizar