extends ../mainLayout

block content
    h3
        strong Total Grupos
        input(type="text", id="", placeholder="Name Your Group")
        button  Create


    script(type="text/javascript" src="/javascripts/angular_modules/groups_module.js")