extends layout

block content

    div(ng-app="AcademicsModule")
        app-for-users
            //primero creare todo lo referente a los cursos de las personas
            //div
                textarea(id="redactor_content", name="content")
            .container
                ul(ng-controller="CoursesController",class="tabs", ng-init="initTabs()")
                      li(class="tab col s3", ng-click="changePath('disponibles')")
                        a(href="#disponibles", class="active") Cursos disponibles
                      li(class="tab col s3", ng-click="changePath('own')")
                        a(href="#own") Mis cursos
                      li(class="tab col s3", ng-click="changePath('juegos')")
                        a(href="#signUp") Juegos
            div(ng-view)


    //link(rel="stylesheet" type="text/css" href="/javascripts/redactor/redactor.css")
    //script(src="/javascripts/redactor/redactor.js")
    //script(src="/javascripts/test.js")
    script(src="/javascripts/angular/routes/courses.js")
    script(src="/javascripts/angular/controllers/CoursesController.js")
