extends layout

block content

    div(ng-app="AcademicsModule")
        app-for-users
            //primero creare todo lo referente a los cursos de las personas
            //div
                textarea(id="redactor_content", name="content")
            div(class="container")
                div(ng-view)


    //link(rel="stylesheet" type="text/css" href="/javascripts/redactor/redactor.css")
    //script(src="/javascripts/redactor/redactor.js")
    //script(src="/javascripts/test.js")
    script(src="/javascripts/angular/routes/courses.js")
    script(src="/javascripts/angular/controllers/CoursesController.js")
