// MOSTRAR LOS CURSOS EN LOS QUE ESTA INSCRITO EL ALUMNO
div(class="left")
	ul(id="listaCursos", style="padding-bottom:10px")
		p(class="center", style="padding:10px") Temas
		li
			a(href="") Top 10
		li
			a(href="") Matematicas
		li
			a(href="") Español
		li
			a(href="") Ciencias


.container
	.row
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas.gif")
					span(class="card-title") Matematicas 1
				.card-content
					p Curso adaptado a las necesidades de clases de primer año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas.gif")
					span(class="card-title") Matematicas 2
				.card-content
					p Curso adaptado a las necesidades de clases de segundo año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas.gif")
					span(class="card-title") Matematicas 3
				.card-content
					p Curso adaptado a las necesidades de clases de tercer año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas.gif")
					span(class="card-title") Matematicas 4
				.card-content
					p Curso adaptado a las necesidades de clases de tercer año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas2.jpg")
					span(class="card-title") Matematicas 5
				.card-content
					p Curso adaptado a las necesidades de clases de quinto año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas2.jpg")
					span(class="card-title") Matematicas 6
				.card-content
					p Curso adaptado a las necesidades de clases de sexto año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/español.jpg")
					span(class="card-title") Español 1
				.card-content
					p Curso adaptado a las necesidades de clases de primer año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/español.jpg")
					span(class="card-title") Español 2
				.card-content
					p Curso adaptado a las necesidades de clases de segundo año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/español.jpg")
					span(class="card-title") Español 3
				.card-content
					p Curso adaptado a las necesidades de clases de tercer año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/español2.jpg")
					span(class="card-title") Español 4
				.card-content
					p Curso adaptado a las necesidades de clases de cuarto año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/español2.jpg")
					span(class="card-title") Español 5
				.card-content
					p Curso adaptado a las necesidades de clases de quinto año primaria
				.card-action
					a(href="") ir al curso
		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/español2.jpg")
					span(class="card-title") Español 6
				.card-content
					p Curso adaptado a las necesidades de clases de sexto año primaria
				.card-action
					a(href="") ir al curso
		

		div(class="col s12 m3")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/universo.jpg")
					span(class="card-title") Sistema solar
				.card-content
					p El astro la luna y el espacio. Con muchas actividades y juegos
				.card-action
					a(href="") ir al curso
	