extends ../layout

block content

    div(ng-app="AcademicsModule")
        app-for-users
            h3 mis cursos
            ul
                li <a href="#">Tomando</a>
                li <a href="#">Enseñando</a>
            //div(id="page")
                textarea(id="redactor_content", name="content")


    //link(rel="stylesheet" type="text/css" href="/javascripts/redactor/redactor.css")
    //script(src="/javascripts/redactor/redactor.js")
    //script(src="/javascripts/test.js")
