// MOSTRAR LOS CURSOS EN LOS QUE ESTA INSCRITO EL ALUMNO
.container
	h3 Actualmente cursando
	.row
		div(class="col s12 m4")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/matematicas2.jpg")
					span(class="card-title") Matematicas 6
				.card-content
					p Curso adaptado a las necesidades de clases de sexto a単o primaria
				.card-action
					a(href="") ir al curso

		div(class="col s12 m4")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/espa単ol2.jpg")
					span(class="card-title") Espa単ol 6
				.card-content
					p Curso adaptado a las necesidades de clases de sexto a単o primaria
				.card-action
					a(href="") ir al curso

		div(class="col s12 m4")
			div(class="card small")
				div(class="card-image waves-effect waves-block waves-light")
					img(src="/images/system/courses/universo.jpg")
					span(class="card-title") Sistema solar
				.card-content
					p El astro la luna y el espacio. Con muchas actividades y juegos
				.card-action
					a(href="") ir al curso
