// MOSTRAR LOS CURSOS EN LOS QUE ESTA INSCRITO EL ALUMNO
h3 cursos actuales
.row
	div(class="col s12 m4")
		div(class="card small")
			div(class="card-image waves-effect waves-block waves-light")
				img(src="/images/system/courses/matematicas.jpg")
				span(class="card-title") Matematicas 1
			.card-content
				p Curso de matematicas basicas: sumas, restas, multiplicaciones y divisiones
			.card-action
				a(href="") ir al curso

	div(class="col s12 m4")
		div(class="card small")
			div(class="card-image waves-effect waves-block waves-light")
				img(src="/images/system/courses/universo.jpg")
				span(class="card-title") Sistema solar
			.card-content
				p El astro la luna y el espacio. Con muchas actividades y juegos
			.card-action
				a(href="") ir al curso