h3 update basic data
form(ng-controller="CoursesController", ng-submit="updateCourse()", ng-init="setUpdateData()")
	input(type="text", placeholder="Nombre del curso", required, ng-model="course.name")
	select(class="browser-default", ng-init="getLanguajes()", ng-model="course.languaje_id")
			option(ng-repeat="languaje in languajes", value="{{languaje.languaje_id}}") {{languaje.lang_name}}
	p Elije una sub categoria
	select(class="browser-default", ng-init="getCategories()", ng-change="getSubCategories()", ng-model="course.category_id")
		option Elige una categoria
		option(ng-repeat="category in categories", value="{{category.category_id}}") {{category.category_name}}
	p Elije una sub categoria
	select(class="browser-default", ng-model="course.sub_category_id")
		option(ng-repeat="sub_category in sub_categories", value="{{sub_category.sub_category_id}}") {{sub_category.sub_category_name}}
	p {{course}}
	input(type="submit")
