extends mainLayout

block content
    nav(id="menuLeft", hidden)
        header
            h3(id="tituloMenuLeft") Menu

    div(id="panel")
        div(id="panelModal")
        nav(class="headerMenu")
            i(class="fa fa-bars" id="toggle-button-left-menu")
            div(class="container")
                div(id="header_title")
                    a(href="/") Academics
                div(id="header_menu")
                    ul(id="menu-horizontal-header")
                        li
                            a(href="#", class="dropdown-menu" dropdownId="subMenuConf")
                                img(src="#{user.user_photo}" id="user-photo-menu")
                                i(class="fa fa-angle-down")
                                ul(id="subMenuConf", class="displayNone subMenu")
                                    li
                                        a(href="#", class="linkSubMenu") Configuración
                                    li
                                        a(href="/logout", class="linkSubMenu") Salir
        div(class="container")
        
