doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel="shortcut icon" href="/images/favicon.ico")
    meta(http-equiv="cleartype" content="on")
    meta(name="MobileOptimized" content="320")
    meta(name="HandheldFriendly" content="True")
    meta(name="apple-mobile-web-app-capable" content="yes")
    link(href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Amiri' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/academicstyle.css')
    script(type="text/javascript" src="/javascripts/angular.min.js")
    script(type="text/javascript" src="/javascripts/academics.js")
  body
    block content