doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    link(rel="shortcut icon" href="/images/favicon.ico")
    //link(href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    //link(href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(href='http://fonts.googleapis.com/css?family=Amiri' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/academicstyle.css')
    script(type="text/javascript" src="/javascripts/academics.js")
  body
    block content