doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/academicstyle.css')
    link(rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css")
    link(rel="stylesheet" type="text/css" href="/materialize/css/materialIcons.css")
    script(type="text/javascript" src="/materialize/js/jquery.min.js")
    script(type="text/javascript" src="/materialize/js/materialize.min.js")
    script(type="text/javascript" src="/javascripts/angular/angular.min.js")
    script(type="text/javascript" src="/javascripts/angular/modules/AcademicsModule.js")
    script(type="text/javascript" src="/javascripts/angular/directives/appForUsers.js")
  body
    block content