*{
	margin: 0;
}
body {
  width: 100%;
  height: 100%;
}
a{
	text-decoration: none;
	color: #000;
}
.headerMenu {
	//background-color: #fff;
	//background-color: #0B8AD9;
	background-image: linear-gradient(145deg, #0B8AD9, #53A1FF);
	border: solid 1px rgba(0, 0, 0, .1);
	height: 50px;
	width: 100%;
	position: fixed;
	color: #fff;
	z-index: 3;
	//overflow: hidden;
}

#header_menu{
	position: absolute;
	right: 0;
	top: 0;
	padding-bottom: 20px;
	height: 100%;
}

#user-photo-menu {
	border-radius: 50px;
	margin-top: 2px;
	width : 45px;
}

.displayNone{
	display: none;
}
.absolute{
	position: absolute;
}
.container {
  	position: relative;
  	margin-right: auto;
  	margin-left: auto;
}
@media (min-width: 768px) {
  	.container {
    	width: 750px;
  	}
}
@media (min-width: 992px) {
  	.container {
    	width: 970px;
  	}
}
@media (min-width: 1200px) {
  	.container {
    	width: 1070px;
  	}
  	#header_title {
		margin-left: 0px;
	}
}
#toggle-button-left-menu{
	position: absolute;
	padding: 10px;
	font-size: 29px;
	z-index: 10;
}
#toggle-button-left-menu:hover{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2);
	cursor: pointer;
}
#toggle-button-left-menu:active{
	box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, .3) inset;
	cursor: pointer;
}
#menuLeft {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(145deg, #0B8AD9, #00278C);
	color: #fff;
}

#tituloMenuLeft {
	color: #fff;
	padding-top: 15px;
	padding-left: 30px;
	font-family: 'Amiri', serif;
}

#panel {
	position: absolute;
	height: 1000px;
	width: 100%;
	background-color: #F7F7F7;
	box-shadow: -3px 0px 7px 0px rgba(0, 0, 0, .4);
}

#panelModal {
	background-color: rgba(255, 255, 255, .8);
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
}
#academics-main-content {}

.academics-main-content-on {
    -webkit-animation: .5s slide-on 1 reverse;
    -moz-animation: .5s slide-on 1 reverse;
    animation: .5s slide-on 1 reverse;
    //margin-left: 257px;
    left: 257px;
}
.academics-main-content-off {
	-webkit-animation: .5s slide-off 1 reverse;
    -moz-animation: .5s slide-off 1 reverse;
    animation: .5s slide-off 1 reverse;
    left: 0px;
}

@keyframes slide-on {
    from {left:257px;}
    to {left: 0px;}
}@-webkit-keyframes slide-on {
    from {left:257px;}
    to {left: 0px;}
}@-moz-keyframes slide-on {
    from {left:257px;}
    to {left: 0px;}
}

@keyframes slide-off {
    from{left: 0px;}
    to {left: 257px;}
}
@-webkit-keyframes slide-off {
    from {left: 0px;}
    to {left: 257px;}
}
@-moz-keyframes slide-off {
    from {left:0px;}
    to {left:2570px;}
}