*{
	margin: 0;
}
a{
	text-decoration: none;
	color: #000;
}

#headerMenu {
	background-color: #fff;
	border: solid 1px rgba(0, 0, 0, .1);
	height: 50px;
	position: relative;
	//overflow: hidden;
}
#header_title {
	position: relative;
	width: 7em;
	padding-top: 7px;
}
#header_title a{
	font-size: 30px;
	padding-top: 23px;
	padding-left: 23px;
	padding-right: 23px;
	padding-bottom: 8px;
	text-decoration: none;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, .3);
	color: #484646;
	font-family: 'Cookie', cursive;
}
#header_title a:hover{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
}

#header_menu{
	position: absolute;
	right: 0;
	top: 0;
	padding-bottom: 20px;
	height: 100%;
}

#user-photo-menu {
	border-radius: 50px;
	margin-top: 2px;
	width : 45px;
}
#menu-horizontal-header {
	position: relative;
	height: 100% !important;
}

#menu-horizontal-header li {
	position: relative;
	height: 100%;
	display: inline-block;
	padding-left: 10px;
}

#menu-horizontal-header li:hover {
	cursor: pointer;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, .3);
}

#menu-horizontal-header i {
	position: relative;
	top: -13px !important;
	padding: 10px;
}

.displayNone{
	display: none;
}

.subMenu {
	background-color: #fff;
	position: absolute;
	border: solid 1px rgba(0, 0, 0, .1);
	border-radius: 3px;
	right: 5px;
    padding: 0;
    margin:0;
}

.subMenu:after {
	position: absolute;
	content: "";
    width: 0;
    height: 0;
    border-left : 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 15px solid #000;
    border-bottom: 15px solid #999;
    right: 27px;
    top: -15px;
}

.subMenu li{
	width: 170px !important;
	position: relative;
}

.linkSubMenu{
	display: block;
	padding-left: 30px;
	font-size: 17px;
	margin-left: -10px;
	font-family: 'Amiri', serif;
}

.linkSubMenu:hover{
	background-color: #f4f4f4;
}

.container {
  	position: relative;
  	margin-right: auto;
  	margin-left: auto;
  	height: 100%;
}
@media (min-width: 768px) {
  	.container {
    	width: 750px;
  	}
}
@media (min-width: 992px) {
  	.container {
    	width: 970px;
  	}
}
@media (min-width: 1200px) {
  	.container {
    	width: 1070px;
  	}
}