extends ../layout

block content
	div(ng-app="AcademicsModule", ng-controller="LevelController")
		app-for-users
			.container
				div(class="card")
					a(href="#create/", class="btn right") Create
					h3 Niveles
					div(ng-view)


	script(src="/javascripts/angular/routes/levels.js")
	script(src="/javascripts/angular/controllers/LevelController.js")