extends ../layout

block content
	h2 archivo index
	div(ng-app="AcademicsModule", ng-controller="LevelController")
		a(href="#create/") Create
		div(ng-view)


	script(src="/javascripts/angular/routes/levels.js")
	script(src="/javascripts/angular/controllers/LevelController.js")