div(ng-init="getLevels()")
	table(class="bordered")
		tr
			th Nombre
			th 
		tr(ng-repeat="level in levels")
			td {{ level.level_name }}
			td
				a(href="#update/{{ level.level_id }}", class="btn blue right") Actualizar