div(ng-controller="LevelController", ng-init="setLevelUpdate();")
	form(ng-submit="updateLevel()")
		input(type="text", placeholder="Nivel", ng-model="level.level_name", required)
		input(type="submit")
