extends ../mainLayout

block content
    h3 Courses
    input(type="text", id="", placeholder="Name your course")
    button(onclick="alert('hola mundo!');") Create

    
    script(type="text/javascript", src="/javascripts/angular_modules/courses_module.js")