extends ../mainLayout
block content
    div(ng-app="courses_module")
        app-for-users-academics(user-photo="#{user.user_photo}")
            div(class="container" style="background-color:#fff;border:solid 1px rgba(0, 0, 0, .1);margin-top:23px;padding:50px;")
                container-specific-course(course="#{course}")
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
    script(type="text/javascript", src="/javascripts/angular_modules/academics_module.js")
    script(type="text/javascript", src="/javascripts/angular_modules/courses_module.js")
