extends ../layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/auth/twitter") Login con twitter
  br
  a(href="/auth/facebook") Login con facebook
  br
  br
  br
  br
  br
  a(href="/test/setDummySession") Init dummy session (offline)
