extends ../layout

block content
  
  div(ng-app="AcademicsModule")
    div(class="container row")
            div(class="contentLogin z-depth-3 col s8 offset-s2", ng-controller="LoginController")
              .login-header
                //p(class="login-title center") Login or Sign up
                .row
                  div(class="col s12")
                    ul(class="tabs", ng-init="initTabs()")
                      li(class="tab col s3")
                        a(href="#signIn", class="active") Sign In
                      li(class="tab col s3")
                        a(href="#signUp") Sign up
              div(class="row")


                div(id="signIn", class="col s12 row")
                  div(class=" col m6 s12 right")
                    a(href="/auth/facebook", class="btn-facebook col s12") Sign in with facebook
                    a(href="/auth/twitter", class="btn-twitter col s12") Sign in with twitter
                  form(ng-submit="authLogin('/')",class="col m6 s12")
                    div(class="row")
                      div(class="input-field col s12")
                        i(class="material-icons prefix") perm_identity
                        input(type="email", ng-model="username", placeholder="Type your email", required, class="validate")
                      div(class="input-field col s12")
                        i(class="material-icons prefix") vpn_key
                        input(type="password", ng-model="password", placeholder="Password", required)
                      input(type="submit", value="Sign in", class="btn right")


                div(id="signUp", class="col s12")
                  div(class=" col m6 s12 right")
                    a(href="/auth/facebook", class="btn-facebook col s12") Sign up with facebook
                    a(href="/auth/twitter", class="btn-twitter col s12") Sign in with twitter
                  div(ng-controller="UserController",class="col m6 s12")
                    form(ng-submit="createUser()")
                      div(class="input-field col s12")
                        i(class="material-icons prefix") picture_in_picture
                        input(type="text", ng-model="formUser.firstName", placeholder="First name", required)
                      div(class="input-field col s12")
                        i(class="material-icons prefix") picture_in_picture
                        input(type="text", ng-model="formUser.lastName", placeholder="Last name", required)
                      div(class="input-field col s12")
                        i(class="material-icons prefix") email
                        input(type="email", ng-model="formUser.email", placeholder="Email", required, class="validate")
                      div(class="input-field col s12")
                        i(class="material-icons prefix") vpn_key
                        input(type="password",ng-model="formUser.password1", placeholder="password", required)
                      div(class="input-field col s12")
                        i(class="material-icons prefix") lock
                        input(type="password",pattern="{{formUser.password1}}", ng-model="formUser.password2", placeholder="confirm password", title="The passwords must match", required)
                      input(type="submit", value="Sign up", class="btn right")



  script(src="/javascripts/angular/modules/AcademicsModule.js")
  script(src="/javascripts/angular/controllers/LoginController.js")
  script(src="/javascripts/angular/controllers/UserController.js")
  link(href='/stylesheets/login.css' rel='stylesheet' type='text/css')
