div(ng-controller="LanguajeController", ng-init="setLanguajeUpdate()")
	h3 languaje

	form(ng-submit="updateLanguaje()")
		input(type="text", placeholder="Codigo", ng-model="languaje_update.lang_code", required)
		input(type="text", placeholder="Nombre", ng-model="languaje_update.lang_name", required)
		input(type="submit")
